@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FFFFFF;
  --text-heading: 30px;
  --text-subheading: 24px;
  --text-body: 16px;
  --text-body-mobile: 14px;
  --text-subheading-mobile: 20px;
  --text-heading-mobile: 25px; 

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--foreground);
  --text-heading: var(--text-heading);
  --text-subheading: var(--text-subheading);
  --text-body: var(--text-body);
  --text-body-mobile: var(--text-body-mobile);
  --text-subheading-mobile: var(--text-subheading-mobile);
  --text-heading-mobile: var(--text-heading-mobile); 
}